{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in posts %}

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src=" https://images.unsplash.com/photo-1572883454114-1601a06fde4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1210&q=80"
                                    alt="Card image cap">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="Card image cap">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_at }} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page=1" class="page-link">&laquo; FIRST</a></li>
            {% if page_obj.previous_page_number %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">PREVIOUS</a></li>
            {% endif %}
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">LAST &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}
{% block copyright %}
 Copyright 2026 Benjamin Cowling. All rights reserved.
{% endblock %}
